body{
    margin: 0;
    padding: 0;
    background-color: #F5F5F5;
}

@font-face {
    font-family: "sf-pro";
    src: url(fonts/SFPRODISPLAYREGULAR.OTF);
  }
  
  @font-face {
    font-family: "sf-pro-bold";
    src: url(fonts/SFPRODISPLAYBOLD.OTF);
  }

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

a{
    text-decoration: none;
}

a:hover, a:focus {
    -webkit-tap-highlight-color: transparent;
    tap-highlight-color: transparent;
}



  .hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(50%);
    transition: all 0.80s;
  }



  .show {
    opacity: 1;
    filter: blur(0px);
    transform: translateX(0%);
  }
  
  .logo:nth-child(1) {
    transition-delay: 100ms ;
  }
  
  .logo:nth-child(2) {
    transition-delay:200ms ;
  }
  
  .logo:nth-child(3) {
    transition-delay:300ms ;
  }
  
  .logo:nth-child(4) {
    transition-delay:400ms ;
  }
  
  .logo:nth-child(5) {
    transition-delay: 500ms ;
  }
  .logo:nth-child(6) {
    transition-delay: 600ms ;
  }
  
  .logo:nth-child(7) {
    transition-delay: 700ms ;
  }

























.header{
    width: 100%;
}

.profile-container{
    width: 86%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -240px;

    .profile{
        width: 140px;
        border-radius: 100px;
    
        img{
            border-radius: 100px;
        }
    }

}

.sticky-contact{
    position: sticky;
    top: 0;
    gap: 10px;
    width: 100%;
    height: auto;
    background-color: #F5F5F5;
    box-sizing: border-box;
    padding: 10px;
    border-bottom: 1px solid #D9D9D9;


    .title{
        width: 97%;
        margin-left: auto;
        margin-top: auto;
        padding: 0px;
        font-family: sf-pro;
        font-size: 18px;
    }

    .btn-container{
        position: sticky;
        top: 0;
        display: flex;
        gap: 10px;
        width: 100%;
        height: auto;
        box-sizing: border-box;
        padding: 10px;

        .btn-box{
            background-color: #e8e8e8;
            width: 100%;
            height: 44px;
            border-radius: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.26s;

            .material-symbols-rounded{
                color: #000000;
                transition: 0.26s;

                font-variation-settings:
                'FILL' 1,
                'wght' 400,
                'GRAD' 0,
                'opsz' 24
            }
        }

        .details{
            font-family: sf-pro;
            color: #000000;
            text-align: center;
            text-decoration: none;
            margin-top: 6px;
            font-size: 12px;
        }

        .btn-box:hover{
          transform: scale(0.8);
          background-color: #000000;

          .material-symbols-rounded{
            color: white;
          }
        }
    }
}

.story-container{
    box-sizing: border-box;
    padding: 10px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
    border-bottom: solid 1px #D9D9D9;

    .title{
        font-family: sf-pro-bold;
        font-size: 32px;
        color: #000000;
    }

    .title2{
        font-family: sf-pro;
        font-size: 32px;
        color: #585858;
        margin-bottom: 100px;
    }
}